.main-container {
    width: 100%;
    display: grid;
    /* background-color: black; */
    grid-template-columns: 200px auto;
}

.left_bar {
    background-color: white;
    display: grid;
}

.rigth_bar {
    width: 100%;
    display: grid;
    justify-items: center;
}

.rigth_bar_container{
    width: 90%;
    margin-top: 10px;
}

.right_nav{
    margin-top: 20px;
}

.left_nav{
    margin-top: 10px;
}

.roles {
    list-style-type: none;
    padding: 0;
}


.hide-element{
    display: none;
}