<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
<h2>Users</h2>
<a th:href="@{'/admin/user/create'}"><button>Create</button></a>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="user : ${users}">
        <tr>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getAge()}"></td>
            <td>
                <a th:href="@{'/admin/user/update/' + ${user.getId()}}"><button>Edit</button></a>
                <a th:href="@{'/admin/user/delete/' + ${user.getId()}}"><button>Delete</button></a>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>
<form name="logoutForm" th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>