<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
  <header class="p-3 bg-dark text-white">
    <div class="container" style="max-width: 100%;">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <div id="current-user-email"></div>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" id="header-role-list">
        </ul>

        <div class="text-end">
          <a href="/logout"><button type="button" class="btn btn-outline-light me-2">Logout</button></a>
        </div>
      </div>
    </div>
  </header>
</header>
</body>
</html>